<div class="footer bg-secondary">
	<div class="container text-center mt-5 p-3">
		<%= link_to "Qui sommes nous ?", about_path %> -
		<%= link_to "Conditions d'utilisation", conditions_path %> -
		<%= link_to "Mentions légales", mentions_legales_path %>
	</div>
</div>
