<div class="container">
  <h1 class="text-center">Qui sommes nous?</h1>
  <p>Le projet est à l'initiative de : </p>
  <ul>
    <li>Nicolas Guimier</li>
    <li>Maxime Chenais</li>
    <li>Jérémie Rousseau</li>
  </ul>

  <h3>Comment nous contacter ?</h3>
  <p>Par courriel : contact@lits-reanimation.com</p>

</div>
