<div class="container d-flex justify-content-center align-content-center mt-5">
  <div class>
    <h1>Qui sommes nous?</h1>
    <ul>
      <li>Nicolas Guimier</li>
      <li>Maxime Chenais</li>
      <li>Jérémie Rousseau</li>
    </ul>

    <h2>Comment nous contacter ?</h2>
      <p>Par courriel : contact@lits-reanimation.com</p>
 </div>
</div>
