<div class="container text-center mt-3">
  <h4>“<i>Guérir parfois, soulager souvent, écouter toujours.</i>” (L. Pasteur)</h4>
</div>
<div class = "container text-center mt-5">
  <h2>Outil de recherche de lits de réanimation</h2>
</div>
<!-- <div class= "container row pl-5">
  <%#= form_tag(submit_code_path, class:"d-flex justify-content-center mb-5") do %>
  <%#= text_field_tag 'code', nil, placeholder: "Saisissez Votre code", required: true %>
  <%#= invisible_recaptcha_tags text: 'Valider', class: "btn btn-primary" %>
  <%# Code for displaying visible catcha, to click, instead of invisible %>
  <%#= recaptcha_tags %>
  <%#= submit_tag 'Valider', class: "btn btn-primary" %>
  <%# end %>
</div> -->
<div class= "container mt-5">
	<h4>Trouvez les lits disponibles pour réanimation dans le cadre de la lutte contre le Covid-19.</h4>
	<p>Suite au témoignage de nombreux soignants et de leur difficulté à trouver des lits en réanimation disponible, nous avons souhaité proposer un outil simple destiné aux établissements de santé.</p>
	<ul>
	  <li>Vous souhaitez trouver un lit en réanimation disponible sur le territoire ou dans votre région ?</li>
	  <li>Votre établissement dispose de lits disponibles, et vous souhaitez proposer des places en réanimation ?</li>
	</ul>
	<p>Agissez rapidement et commencez votre recherche dès maintenant. Merci de n'utiliser ce service que si vous en êtes destinataire.</p>
</div>
<div class="container text-center h1">
	<%= link_to "Voir la liste des établissements", hospitals_path, class: "btn-lg btn btn-primary" %>
</div>
