<div class="container">
	<h1 class="text-center">Mentions légales</h1>
	<h2>Editeur</h2>
	<ul>
    <li>Nicolas Guimier</li>
    <li>Maxime Chenais</li>
    <li>Jérémie Rousseau</li>
  </ul>

	<h2>Directeur de la publication</h2>
	<p>
		Jérémie Rousseau : contact@lits-reanimation.com
	</p>
	<h2>Hébergeur</h2>
	<p>
	Clever Cloud SAS<br>
	3 rue de l'Allier, 44000 Nantes, France<br>
	RCS Nantes B 524 172 699.
	</p>
</div>
