.hospital-card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
	padding: 10px;
	background-color: $blue;
	border-radius: 3px;
	color: white;

	.hospital-beds {
		font-size: 3em;
	}
}
